@model NP.Models.ProductDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ProductDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSulfateFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSulfateFree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsParabenFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsParabenFree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFormaldehydeFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFormaldehydeFree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAlcoholFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAlcoholFree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAnimalTested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAnimalTested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAdded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
