@model IEnumerable<NP.Models.Lists.PlanList>

@{
    ViewBag.Title = "Index";
}

<h2>Hair Plans</h2>
<p>Need a better hair regimen? Check out our hand-picked recommendations that are specifically geared towards your hair goals.</p>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    @if (Model == null)
    {
        Console.WriteLine("No Items Found");
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlanID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit Plan", "Edit", new { id = item.PlanID }) |
                    @Html.ActionLink("Products", "Details", new { id = item.PlanID }) |
                    @Html.ActionLink("Delete Plan", "Delete", new { id = item.PlanID })
                </td>
            </tr>
        }
    }
    </table>

